@model App.Data.Models.OrderDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* @Html.DropDownList("EmployeeId",
                new SelectList(ViewBag.Employees, "Id", "FirstName"+"LastName"),
                "Select Employees",
                new { @class = "form-control" })*@
            @if (ViewBag.Employees != null)
            {
                <select asp-for="EmployeeId" class="form-control">
                    @foreach (var employee in ViewBag.Employees)
                    {
                        <option value="@employee.Id">
                            @employee.FirstName @employee.LastName
                        </option>
                    }
                </select>
            }
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerFirstName" class="control-label"></label>
                <input asp-for="CustomerFirstName" class="form-control" />
                <span asp-validation-for="CustomerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerLastName" class="control-label"></label>
                <input asp-for="CustomerLastName" class="form-control" />
                <span asp-validation-for="CustomerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
